.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #999999;

  &.swiper-pagination-bullet-active {
    background-color: #FFBA08;
  }
}

.swiper-button-prev {
  margin-left: 45px;
}

.swiper-button-next {
  margin-right: 45px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: #FFBA08;
}

@media(max-width:30em) {
  .swiper-button-next:after
  .swiper-button-prev::after {
    font-size: 10px;
  }
  .swiper-pagination-bullet{
    width:8px;
    height:8px;
  }
}
